
* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    background:#eee;
    margin: 0;
    padding: 0;   
}

h1 {
    font-size: 30vw;
    color: #222;
    text-shadow: 0 3px 6px #111;
    
}

#navbar {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    text-align: center;
    background: #222;
    height: 4rem;
}

.navList li {
    float: left;
    margin-left: 10%;
    list-style-type: none;
    margin-top: 0.5rem;

}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.participantsList {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.red {
    color: blue
}

.green {
    color: darkgreen
}

footer {
    
    background-color: #222
}